body {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: var(--tg-theme-header-bg-color);
}
.close_button,
.toggle_button,
.add_button {
  padding: 3px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  box-shadow: 1px 1px 5px 0px grey;
  outline: none;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.select,
.input {
  width: 100%;
  padding: 10px;
  outline: none;
}
.select {
  cursor: pointer;
}
.product_list {
  margin-bottom: 20px;
  padding: 5px;
}
.product_item {
  border: 1px solid var(--tg-theme-button-color);
  padding: 10px;
  display: flex;
  gap: 10px;
  /* align-items: center; */
  /* justify-content: space-between; */
}
.product_image {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background-color: var(--tg-theme-button-color);
}
.product_title {
  margin-bottom: 10px;
}
.product_price {
  font-weight: bold;
}
.product_content {
  width: 50%;
}
.product_basket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}
